body {
	color: #212121;
	background-color: #f7f7f7;
	-webkit-font-smoothing: antialiased;
	
}

a {
	color: #504186;
	text-decoration: underline;
}

a:hover {
	color: #f04a51;
	text-decoration: none;
}


.container {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(80,64,134,0.3)
}




.row {
	margin-bottom: 10px;
}


address {
	margin-bottom: 15px;
}



header {
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


.table > thead > tr > th {
	vertical-align: middle;
}


.panel {
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

	.panel .panel-heading {
		border: 0;
		border-radius: 0;
		font-weight: 700;
	}

	.panel .panel-body {
		border: 0;
		border-radius: 0;
	}

	.panel .panel-footer {
		border: 0;
		border-radius: 0;
	}


.panel-default .panel-heading {
	background-color: #504186;
	color: #fff;
}

.panel-default .panel-body {
	background-color: #f7f7f7;
}



/**/
.btn {
	text-decoration: none;
	border-radius: 0;
	outline: 0;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
}

.btn:hover {
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
}

.btn-white {
	border-color: #504186;
	background-color: #fff;
	color: #504186;
}

.btn-white:hover {
	border-color: transparent;
	background-color: #504186;
	color: #fff;
}


.btn-purple {
	border-color: transparent;
	background-color: #504186;
	color: #fff;
}
.btn-purple:hover,
.btn-purple:active {
	border-color: #504186;
	background-color: #fff;
	color: #504186;
}


table thead th {
	background-color: #504186;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}


.footer--copyright {
	padding: 15px 0;
}



#apmrsk__location {
	margin: -15px -15px 15px -15px;
	height: 140px;
}







.list-group a {
	text-decoration: none;
}





#full__parsed__data {
	/* empty */
}



.license {
	margin-bottom: 0;
}

	.license img {
		vertical-align: middle;
		display: inline-block;
		margin-right: 10px;
	}

		.license span {
			vertical-align: middle;
			display: inline-block;
			line-height: 1.3;
		}

.github--link {
	margin-bottom: 0;
	text-align: right;
}

	.github--link a {
		color: #969696;
		line-height: 28px;
		font-size: 36px;
	}
	
		.github--link a:hover {
			color: #000;
		}